################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MyConsole/obj/Release/netcoreapp3.1
/.vs/MyProject/DesignTimeBuild
/.vs
/MyCoreAPI/obj/Release/netcoreapp3.1
