@using  Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Index";
}
<div>
    <div>
        <p>url: </p> @ViewBag.settings.Url
    </div>
    <div>
        <p>showString1: </p> @ViewBag.settings.AppId
    </div>
</div>